body {
    margin: 0;
    background-image: url('https://miro.medium.com/max/4200/1*8jHVDSpym6FNQoxTXtNMvw.jpeg') ;
    width: 100%;
    height: 100vh;
    background-size: 100%;



}


.tittle-of-course {
    font-family: 'Fascinate Inline', cursive;

}
.header {
    text-align: center;
    padding: 50px 0;
}
.form-container {
    opacity: 1;
    filter: alpha(opacity=50);
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.5);

}
.container{
    margin-bottom:50px;
}

@media only screen and (max-width: 678px){
    body {
        background-size: 250%;

    }

}

