body,html {
  max-width: 100%;
        overflow-x: hidden;
}
.highlight {
  color: #5C9EE4;
}
.logo-big {
    width: 60px;
    height: 60px;
  }
  .main-title{
      margin:30px 0 0 0;
  }
/********************* login bar / upper bar *********************/
.upper-bar {
	top: 0px;
	z-index: 9999;
	position: fixed;
	left: 0;
	right: 0;
	background: #333;
  padding: 5px 0px;
  color: #fff;
}
.upper-bar a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.upper-bar a:hover {
  color: #5C9EE4;
}
/************************** NAVBAR **********************/
.navbar-right {
  padding: 5px 0px;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  display: none;
}
.navbar-default .navbar-nav > .active > a {
  color: #5C9EE4;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > .active > a:hover {
  color: #5C9EE4;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #5C9EE4;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
}
/********* navbar on scroll top zero *****/
@media(max-width:768px){
  .logo-small {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
  }
  .logo-big {
    width: 50px;
    height: 50px;
  }

}
@media(min-width:768px){

.navbar {
  background: transparent;
  border: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.logo-big {
  display: none;
}
.logo-small {
  width: 60px;
  height: 60px;
}
}
/***** navbar on scroll down *****/
.navbar-scolled {
  background: #fff;
  border: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li > a.scolled {
  color: #000;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > li > a.scolled:hover {
  color: #5C9EE4;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav > .active > a.active {
  color: #5C9EE4;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
/************************** SLIDER ********************/
.carousel-caption .main-title {
	font-weight: bold;
	font-size: 4em;
}


/******************************************************************** START THE CODE OF THE PAGE *********************************************/

.event p{
  text-align: center;
  font-size: 40px;
  font-family: serif;
}
.post{
    width:600px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    position:relative ;
    cursor:pointer;
    margin-bottom: 40px
    
}
.post:hover .post-s{
    width:600px;
    height:;
}
.post img{
    display:block ;
    width:600px;
    height:300px;
}
.post-s{
    width:0px;
    height:300px;
    background:#004466;
    position:absolute ;
    top:0;
    opacity: 0.9;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    transition:2s ease;
    
}
.post-s h2{
    color:white;
    font-size:50px;
    border:6px solid white;
    padding:10px 30px;
    
}
.post-s a{
    color:white;
} 

@media (max-width: 767px){
  .post{
    width:300px;
    height:150px;
        }
  .post:hover .post-s{
    width:300px;
    height:;
        }

  .post img{
    width:300px ;
    height:150px;
}
.post-s{
    width:0px;
    height:150px;

    
}

}

/******************************************************************** END THE CODE OF THE PAGE *********************************************/
/***************************** FOOTER *****************************/
footer {
  position: relative;
  color: #fff;
}
footer .footer-widgets {
  padding: 60px 0;
  background: #000;
  border-top: 10px solid #1a1a1a;
  border-bottom: 1px solid #333;
}
footer .footer-widgets .footer-widget .footer-logo {
  margin-bottom: 10px;
}
footer .footer-widgets .footer-widget .inner {
  padding-top: 15px;
}
footer .footer-widgets .footer-widget ul {
  padding-left: 0px;
}
footer .footer-widgets .footer-widget .latest-posts , 
footer .footer-widgets .footer-widget .useful-links , 
footer .footer-widgets .footer-widget .contact-details {
  list-style: none;
}
footer .footer-widgets .footer-widget .latest-posts li,
footer .footer-widgets .footer-widget .useful-links li,
footer .footer-widgets .footer-widget .contact-details li{
  padding: 10px 0px ;
}
footer .footer-widgets .footer-widget .contact-details li i {
  margin-right: 5px;
  color: #5C9EE4;
}
footer .subfooter {
  background: #333;
  padding: 15px 0;
}
footer .subfooter .copyrights {
  margin-top: 4px;
}
footer .subfooter .social-media {
  float: right;
  margin-top: 4px;
}
footer .subfooter .social-media a {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-bottom: 0;
  border: none;
  background: 0 0;
  color: #fff;
  background: #000;
  margin-left: 10px;
  padding: 8px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
footer .subfooter .social-media a:hover {
  color: #5C9EE4;
  padding: 10px;
  
}
footer .subfooter .social-media a i {
  font-size: 17px;
}

/********************************************************* mobile screen **************************************************************/
/***** footer *****/
@media(max-width:768px){
  footer .footer-widget{
    text-align: center; 
  }
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}


/****************** MEDIA QUERIES ****************/
@media(min-width:768px){
  .carousel-caption {
   padding-bottom: 5%;
  }
}

@media(max-width:768px){
  .carousel-caption {
    padding: 22% 0;
  }
  .carousel-caption h1.main-title {
    font-size: 30px;
  }
  .carousel-caption p.lead {
    font-size: 15px;
  }
  .carousel-caption button.btn-lg {
    font-size: 15px;
    padding: 10px;
    line-height: 1;
  }
  .h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  footer .subfooter .copyrights {text-align: center;}
  footer .subfooter .social-media {float: none;text-align: center;margin-top: 10px;}

  

}
